:root {
  --primary-color: #004b87;
  --primary-color-transparent: #004b8780;
  --secondary-color: #FFD700;
  --secondary-color-transparent: #873C00;
  --tertiary-color: #363636;
  --tertiary-color-transparent: #36363633;
  --accent1-color: #ffffff;
  --accent2-color: #000000;
  --accent3-color: #f0f0f0;
  --accent4-color: #707070;

  --title-font: 'Outfit', sans-serif;
  --text-font: 'Outfit', sans-serif;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--title-font);
  background-color: var(--primary-color);
  color: var(--accent1-color);
  height: 5rem;
  text-align: center;
}

header.open {
  display: flex;
  flex-direction: column;
  height: 0.5rem;
  height: 100%;
}

header.open h1 {
  height: 5px;
  position: relative;
  top: -16px;
}

header h1 {
  padding: 1rem;
  width: 100%;
}

header span {
  color: var(--secondary-color);
}

/* Navigation */
.navigation {
  display: none;
}

.navigation.open {
  text-align: center;
  display: block;
  background-color: var(--primary-color);
  width: 100%;
}

.navigation a {
  color: var(--accent1-color);
  text-decoration: none;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

  .navigation a:hover {
      background-color: var(--accent1-color); 
      color: var(--primary-color); 
      text-decoration: underline;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 15rem;
}

.navigation li {
  height: 100%;
  width: 100%;
  align-content: center;
}



/* Menu */
#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: var(--secondary-color-transparent);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

#menu::before {
  content: "☰";
  color: var(--secondary-color);
  display: inline-block;
  transition: transform 0.3s ease; 
}

#menu.open::before {
  content: "✖️";
  transform: rotate(180deg); 
  color: var(--secondary-color); 
}


/* Main */
main {
  display: grid;
  font-family: var(--title-font);
  min-height: 500px;
  max-width: 2000px;
  justify-self: center;
}

.card {
  margin: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 1rem;
  width: auto;

}

.card h2 {
  color: var(--tertiary-color);
  height: 1rem;
  grid-column: 1/2;
  text-align: center;
  align-content: center;
}

.card p {
  margin-right: 1rem;
  text-align: center;
}

.temples {
  display: grid;
}

.temples section {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px var(--tertiary-color-transparent);
  background-color: var(--accent3-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.temples section:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.temples img {
  box-shadow: 0rem 0rem 1rem var(--accent4-color);
}

/* Footer */
footer {
  font-family: var(--title-font);
  background-color: var(--primary-color);
  color: var(--accent1-color);
  text-align: center;
  padding: 1rem;
  height: 100px;
}

footer #lastmodified {
  color: var(--accent1-color);
}